<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>

        <File name="Correct_picture" fileName="logs/correct_picture.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="CORRECT_PICTURE" />
            </Filters>
        </File>

        <File name="Invalid_picture" fileName="logs/invalid_picture.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="INVALID_PICTURE" />
            </Filters>
        </File>

    </appenders>
    <loggers>
        <root level="info">
            <appender-ref ref="Correct_picture" />
            <appender-ref ref="Invalid_picture" />
        </root>
    </loggers>
</configuration>